<p style="color: green"><%= notice %></p>

<div class="country-page">
<div class="banner" >
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= asset_path('banner_icon/banner.jpg') %>);">
  <div class="container">
    <h1>My Travels!</h1>
    <h2>by Daniel Chin</h2>

  </div>
</div>
</div>

<div class = "intro">
<div class = "title">
<h2>Introduction</h2>
<p>This website is a way to mark my journeys throughout various countries I've been to.</p>
</div>
<div class = "why">
<h3>About</h3>
<p>Throughout my travels, I had seen both popular and mundane places that I enjoyed visiting. But many of times, guides online can feel like a cookie cutter that shows only the broad strokes and the most popular places. I wanted a place where I could document and record places that I had personally enjoyed, regardless of high popular the place was. OVer time, I want to improve this website so that more people can put things they enjoyed and add to the list as well. </p>

<h3></h3>
<p></p>

</div>
</div>

<div class="cards">
  <% @countries.each do |country| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path("country_icon/#{country.name.downcase}.jpg") %>);">
      <%= link_to country.name, country_path(country), class: "card-link" %>
    </div>
  <% end %>
</div>


</div>
