<p style="color: green"><%= notice %></p>

<%= render @country %>

<div>
  <%= link_to "Back to countries", countries_path %>
</div>

<p><strong>Posts</strong></p>
<ul class="list-group">
  <% @country.posts.each do |review| %>
    <li class="list-group-item"><%= post.title %></li>
  <% end %>
</ul>
<br>
