<h1><%= @post.title %></h1>
<p><%= @post.body %></p>

<%= link_to 'Back to Country', country_path(@country) %>

<%= link_to 'Delete Post', country_post_path(@country, @post),
            data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this post?" },
            class: "btn btn-danger" %>
