
.form-group {
  margin-bottom: 15px; // Adjust spacing between form groups
  display: flex;           // Enables flexbox
  flex-direction: column;  // Stacks children vertically
  align-items: center;     // Centers items horizontally in the container
  justify-content: center; // Centers items vertically in the container
  width: 100%;             // Sets the width of the .intro container to full width

  .form-label {
    color: $success; // Assuming $primary-color is defined in your variables
  }

  .form-control {
    border-radius: 0.25rem; // Customize border-radius of input fields
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out; // Smooth transition for focus
  }
}

.btn-primary {
  &:hover {
    background-color: darken($success, 10%); // Darken the button on hover
  }
}
